// Layouts for discussion pages
@import '../course/base/extends';

.discussion-user-profile-board {

    .page-title {
        @include margin-left($baseline);
        display: inline-block;
    }

    .discussion-profile-info  {
        @include margin(0, $baseline / 4, 0, $baseline);
    }

    .discussion-profile-count {
        margin-top: $baseline / 4;
    }

    .user-name {
        @include margin(0, $baseline / 4, 0, $baseline);
        font-size: $forum-x-large-font-size;
    }

    .user-roles {
        font-size: $forum-small-font-size;
        font-style: italic;
    }

    .discussion-user-threads {
        margin: $baseline auto;
        width: 97%;
    }

    .all-posts-btn {
        font-size: $forum-base-font-size;
    }
}

.discussion-column {
    min-height: 500px;

    .new-post-article {
        margin-top: -$baseline;
    }
}
